<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>"Title"</title>
</head>
<body>
<h1>
    User Add
</h1>
<form method="post" th:action="@{/user}">
    <label>Username
    <input type ="text" th:field = "${user.username}"/>
        <span th:errors="${user.username}"></span>
    </label>

    <label>Email
        <input type ="text" th:field = "${user.email}"/>
        <span th:errors="${user.email}"></span>
    </label>

    <label>Password
        <input type ="text" th:field = "${user.password}"/>
        <span th:errors="${user.password}"></span>
    </label>
    <label>Verify Password
        <input type="password" th:field="${user.verifyPassword}">
        <span th:errors="${user.verifyPassword}"></span>
    </label>

    <input type="submit" value="Create User">
</form>
<p>Testing</p>
</body>
</html>